@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

.icon path{
  fill:#494C50;
}
.icon , .iconActive path{
  fill:#399AD3;
}
.text-prime{
  color: #399AD3;
}

.bg-prime{
  background: #399AD3;
}

.msgsviewr::-webkit-scrollbar {
  display: none;
}

.icon2 path{
  fill:#72777c;
}
.icon2:hover path{
  fill:#399AD3;
}
.icon3 path{
  stroke:#72777c;
}